extends layouts/layout

block container 
  section.section-keyvisual 
    .wrapper.keyvisual-container
      .container-content-keyvisual 
        h1.keyvisual-heading We make <br>
          span every room <br> a unique shape
        span.primary-border 
        p.keyvisual-text Lorem ipsum onsectetur adipiscing elit. Blandit mauris etiam faucibus laoreet tellus nam. Gravida solor aenean orci, facilisis senectus.
      img.container-img-keyvisual(srcSet="./images/keyvisual.png 2x", alt="")
  section.section-about 
    .wrapper.about-container
      .container-about-heading 
        h2.heading-title Our remember-able stories
        p.heading-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit mauris etiam faucibus laoreet vestibulum pretium tellus nam. Gravida aenean orci, facilisis senectus.
      .container-about-content
        .content-left-about 
          img(srcSet="./images/about-left.png 2x", alt="")
        .content-right-about 
          img(srcSet="./images/about-right.png 2x", alt="")
          span.primary-border 
          h3.about-title We don’t renovate space, we transform them
      img.border-bottom(srcSet="./images/Lines.png 2x", alt="")



    