extends layouts/layout

block container 
  section.section-keyvisual 
    .wrapper.keyvisual-container
      .container-content-keyvisual 
        h1.keyvisual-heading We make <br>
          span every room <br> a unique shape
        span.primary-border 
        p.keyvisual-text Lorem ipsum onsectetur adipiscing elit. Blandit mauris etiam faucibus laoreet tellus nam. Gravida solor aenean orci, facilisis senectus.
      .container-img-keyvisual
        img.keyvisual-image(srcSet="./images/keyvisual.png 2x", alt="")
  section.section-about 
    .wrapper.about-container
      .container-about-heading 
        h2.heading-title Our remember-able stories
        p.heading-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit mauris etiam faucibus laoreet vestibulum pretium tellus nam. Gravida aenean orci, facilisis senectus.
      .container-about-content
        .content-left-about 
          img(srcSet="./images/about-left.png 2x", alt="")
        .content-right-about 
          img(srcSet="./images/about-right.png 2x", alt="")
          span.primary-border 
          h3.about-title We don’t renovate space, we transform them
      img.border-bottom(srcSet="./images/Lines.png 2x", alt="")
  section.section-project
    .wrapper.project-container 
      .container-project-heading 
        h2.heading-title Our latest projects
        a.heading-all(href="") All Projects
    .container-project-slide 
      img.slide-image-project(srcSet="./images/project.jpg 2x", alt="")
      .wrapper.slide-inside-project
        .project-content-left 
          h3.project-title Dining Room 
          a.project-view(href="") View Details 
        .product-content-right 
          span.circles-project  
          span.circles-project  
          span.circles-project.circles-active  
          span.circles-project  
  section.section-design 
    .wrapper.design-container 
      .container-content-design 
        h2.design-heading Our designers
        p.design-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit mauris etiam faucibus laoreet vestibulum
        p.design-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit mauris etiam faucibus laoreet vestibulum nam. Gravida aenean orci, facilisis senectus.
        a.design-link(href="") See All Designers
      img.design-image(srcSet="./images/design.png 2x", alt="")
  section.section-blog
    .wrapper.blog-container 
      .container-blog-heading 
       h2.heading-blog Our latest articles
       a.heading-link(href="#") Read All Articles
      .container-blog-content 
        .content-inside-blog 
          img.blog-img(srcset="./images/blog-left.png 2x", alt="") 
          h3.blog-heading Why your client needs interior design
          .blog-text 
            a.text-link-blog(href="") Read More
            span.text-date-blog April 30, 2020
        .content-inside-blog 
          img.blog-img(srcset="./images/blog-right.png 2x", alt="") 
          h3.blog-heading How to decore your home
          .blog-text 
            a.text-link-blog(href="") Read More
            span.text-date-blog April 30, 2020

    


    